.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    color: #007bff; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }
  .listItem {
    font-size: 18px; 
    font-weight: bold; 
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #ff5733; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px; 
  }

  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
  }
  .completedText {
    text-decoration: line-through;
    color: #888;
  }